<section>
    <form #f="ngForm" (submit)="checkId()">
        <div class="container">
            <h1>Inscription</h1>
            <p>Remplir le formulaire pour créer son compte.</p>
      
            <label for="nom"><b>Nom</b></label>
            <input type="text" #ctlId="ngModel" [(ngModel)]="personne.nom" name="nom" placeholder="Enter Nom" required>

            <label for="prenom"><b>Prénom</b></label>
            <input type="text" #ctlId="ngModel" [(ngModel)]="personne.prenom" placeholder="Enter Prénom" name="prenom" required>

            <label for="mail"><b>Mail</b></label>
            <input type="text" #ctlId="ngModel" [(ngModel)]="personne.mail" placeholder="Enter mail" name="mail" required>
            
            <label for="mdp"><b>Mot de passe</b></label>
            <input type="password" #ctlId="ngModel" [(ngModel)]="personne.mdp" placeholder="Enter Password" name="psw" required>
      
            <label for="tel"><b>Téléphone</b></label>
            <br>
            <input type="phone" name="tel" #ctlId="ngModel" [(ngModel)]="personne.tel" placeholder="812345678" required>
      
            <div class="clearfix">
            
              <select name="statut" #ctlId="ngModel" [(ngModel)]="personne.statut" required>
                  <option selected hidden value="">Statut</option>
                  <option value="admin">admin</option>
                  <option value="joueur">joueur</option>
              </select>
              <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
              <button type="submit" class="btn">Inscription</button>
            </div>

        </div>
      </form>
</section>